doctype html
html
  head
    title= eRedlining
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:300,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.site-header
      .site-width.header-container
        .site-logo
          a(href="/") eRedlining
        nav
          ul
            li
              a(href="/#prepare") Prepare
            li
              a(href="/#send") Send
            li
              a(href="/#redline") Redline
            li
              a(href="/#sign") Sign
            li
              a.btn-outline(href="/#get-started") Get Started

    block content

    footer site-footer